@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #adb5bd;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

main {
    margin: auto;
}

/* Cabeçalho */

header {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url('imagens/barbearia.jpeg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.35);
    background-blend-mode: overlay;
    height: 70vh;
    width: 100%;
    color: aliceblue;
}

header h1 {
    font-size: 1.5em;
}

header h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.1em;
    background-color: #1b263b;
    padding: 10px;
    border-radius: 12px;
}

/*Menu Fixo*/

.menuFixo {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    background-color: #343a40;
    transition: opacity 0.3s ease-in-out;
}

.menuFixo-ativo {
    opacity: 1;
    visibility: visible;
}

.menuFixo h1 {
    margin-bottom: 7px;
    font-size: 1.3em;
}

.menuFixo button {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}

.menuFixo button:hover {
    background-color: white;
    color: #1b263b;
    transform: translate(2px, 1px);
    transition-duration: .4s;
}

/*Menu Principal*/

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, rgba(52, 58, 64, 0.123), rgba(52, 58, 64, 1)); /* Cinza Escuro */


    border-radius: 0px 0px 10px 10px;
}

#logo {
    width: 95px;
}

/*Menu Hamburguer*/

#menu1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-weight: 600;
}

#abrir {
    display: none;
    cursor: pointer;
}

#menu1 ul {
    display: flex;
}

#menu1 a  {
    text-decoration: none;
    color: aliceblue;
    padding: 8px;
}

#menu1 a:hover {
    background-color: #1b263b;
    border-radius: 12px;
    transition-duration: 0.3s;
}

#menu2 {
    display: none;
    position: absolute;
    top: 1vh;
    right: 0;
    width: 100px;
    transform: translateX(100%);
    transition: transform .3s;
    border-radius: 12px 0px 0px 12px;
    background-color: #adb5bd;

    font-family: "Merriweather", serif;
    font-size: 0.98em;
}

#menu2.abrir {
    display: block;
    transform: translateX(0%);
    transition: transform .3s;
}

#menu2 span {
    display: flex; 
    justify-content: flex-end;
    cursor: pointer;
}

#menu2 a {
    text-decoration: none;
    color: #343a40;
    font-weight: bolder;
}

ul li {
    padding: 5px 10px 20px 10px;
}

nav ul {
    list-style: none;
}

/*Botão Agendamento*/

#agendamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 15vh;
    margin-top: 130px;
    color: aliceblue;
}

#agendamento h2 {
    font-family: "Lobster", sans-serif;
}

#agendamento a {
    text-decoration: none;
    color: aliceblue;
    font-family: "Merriweather", serif;
}

#agendamento p:hover {
    background-color: #2b3d5e;
    transform: translate(1px, 2px);
    border-radius: 12px;
    transition: transform 0.2s;
}

/* Informações */

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #adb5bd;
    max-width: 1024px;
}

#info h2{
    font-size: 1.5em;
    font-family: "Lobster", sans-serif;
    font-size: 1.8em;
    text-align: center;
    color: #1b263b;
    margin: 15px 0px;
}

/*Sobre*/

#sobre {
    padding: 10px;
    text-align: justify;
}

#sobre p {
    font-family: "Merriweather", serif;
}

#funcionarios {
    margin: auto;
    width: 80vw;
    max-width: 1024px;
}

/*Barbeiros*/

#barbeiros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f8f9fa;
    min-height: 30vh;
    margin-bottom: 50px;
    border-radius: 15px;
}

#barbeiros img {
    width: 90px;
    border-radius: 50%;
}

#barbeiro1, #barbeiro2 {
    text-align: center;
    font-weight: 600;
    margin: 10px;
}

#barbeiro1 p, #barbeiro2 p {
    margin-bottom: 10px;
}

#barbeiros button {
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    background-color: #1b263b;
    color: aliceblue;
}

#barbeiros button:hover {
    color: #1b263b;
    background-color: aliceblue;
    transition-duration: .3s;
}

/*Serviços*/

#servicos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f8f9fa;
    padding: 10px;
    min-height: 30vh;
    margin-bottom: 20px;
    border-radius: 15px;
}

#servico1, #servico2 {
    text-align: center;
    font-weight: 600;
    margin: 15px;
}

#servicos img {
    width: 70px;
}

/* Rodapé */

footer {
    width: 100%;
    background-color: #1b263b;
}

#rodape {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding: 10px;
    color: aliceblue;
    background-color: #1b263b;
    font-weight: 600;
}

#contatos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contatos p {
    font-size: 0.75em;
    margin: 5px 0px;
}

#contatos img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25.5px;
    margin-right: 5px;
}

#localizacao, #instagram, #whatsapp {
    display: flex;
    flex-direction: row;
}

#contatos p:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer img {
    width: 8rem;
}

/* Responsividade */

@media screen and (max-width: 300px) {
    #rodape {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 530px) {
    #abrir {
        display: block;
    }

    #menu1 {
        display: none;
    }

    #menu2 {
        display: block;
    }

    header {
        background-position: center;
    }
}

@media screen and (min-width: 1024px) {
    header {
        background-position: center;
    }

    body {
        background-color: #2b3d5e;
    }

    #info {
        border-radius: 10px;
        margin: 50px 0;
    }

    #barbeiros, #servicos {
        margin: 0px 100px;
    }

    #servicos {
        margin-bottom: 20px;
    }
    
}
