@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1b263b;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Cabeçalho */

header {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url('imagens/barbearia.jpeg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.35);
    background-blend-mode: overlay;
    padding: 10px;
    height: 70vh;
    color: aliceblue;
}

header h1 {
    font-size: 1.5em;
}

header h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.1em;
    background-color: #1b263b;
    padding: 10px;
    border-radius: 12px;
}

.menuFixo {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    background-color: #1b263b;
    transition: opacity 0.5s ease-in-out;
}

.menuFixo-ativo {
    opacity: 1;
    visibility: visible;
}

.menuFixo h1 {
    margin-bottom: 7px;
}

.menuFixo button {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}

.menuFixo button:hover {
    background-color: white;
    color: #1b263b;
    transform: translate(2px, 1px);
    transition-duration: .4s;
}

#menu {
    display: flex;
    justify-content: space-between;
}

#menu1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#menu1 ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#menu1 a  {
    text-decoration: none;
    color: aliceblue;
}

#menu2 {
    display: none;
    position: absolute;
    top: 1vh;
    right: 0;
    width: 100px;
    transition: transform 0.4s;
    border-radius: 12px 0px 0px 12px;
    background-color: #f0ebd8;
}

#menu2.ativo {
    display: block;
}

#menu2 span {
    display: flex; 
    justify-content: flex-end;
    cursor: pointer;
}

#menu2 a {
    text-decoration: none;
    color: #1b263b;
    font-weight: bolder;
}


ul li {
    padding: 5px 10px 20px 10px;
}

nav ul {
    list-style: none;
}

#abrir {
    display: none;
    cursor: pointer;
}

#agendamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 15vh;
    margin-top: 130px;
    color: aliceblue;
}

#agendamento a {
    text-decoration: none;
    color: aliceblue;
}

#agendamento p:hover {
    background-color: #2b3d5e;
    transform: translate(1px, 2px);
    border-radius: 12px;
    transition: transform 0.2s;
}

/* Informações */

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0ebd8;
}

#info h2, #info h3 {
    font-size: 1.5em;
    text-align: center;
    color: #1b263b;
    margin: 15px 0px;
}

/*Sobre*/

#sobre {
    padding: 10px;
    text-align: justify;
    font-weight: 550;
}

/*Barbeiros*/

#barbeiros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0ebd8;
    padding: 10px;
    height: 30vh;
    margin-bottom: 50px;
}

#barbeiros img {
    width: 90px;
    border-radius: 50%;
}

#barbeiro1, #barbeiro2 {
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
}

/*Serviços*/

#servicos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0ebd8;
    padding: 10px;
    height: 30vh;
}

#servico1, #servico2 {
    text-align: center;
    font-weight: 600;
}

#servicos img {
    width: 70px;
}

/* Rodapé */

footer {
    padding: 12px 12px 5px 12px;
    color: aliceblue;
}

/* Responsividade */

@media screen and (max-width: 530px) {
    #abrir {
        display: block;
    }

    #menu1 {
        display: none;
    }

    #menu2 {
        display: block;
    }
}
